:root {
  --primary: #63855a;
  --secondary: #ff375e;
  --success: #92c089;
  --info: #319acb;
  --warning: #e9c417;
  --error: #e37272;
  --accent: #05603d;

  --bg-main: #ffffff;
  --bg-subtle: #ebeeef;

  --text-primary: #1e2326;
  --text-secondary: #8e8e8e;

  --border-default: #bbbbbb;
}
